 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I’m a software engineer. I was previously working in logistics and in the past year I’ve fell in love with Javascript and picked up multiple technologies such as react, angular and node. I’ve recently built and deployed a few applications. An application that I'm proud of is a healthcare application that employes a  text reminder for user prescriptions and a specialist recommendation engine that uses a machine learning library. For that project we used React, Mongo, Express, Node, and a few third party APIs. I’m very passionate about javascript frameworks such as React and currently in the process of learning Redux and Flux. I’m really interested in working for a health care startup or a company that has humanitarian mission. </p>
                </div>
                <div class="col-lg-4">
                    <p>I'm a huge Basketball fan and love to talk sports. I'm also constantly keeping up with the news and what's going on in the world. I also love to travel and explore various cuisines.</p>
                </div>
                <!-- <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                </div> -->
            </div>
        </div>
    </section>
