    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive img-thumbnail" src="img/Profile.jpg" alt="">
                    <div class="intro-text">
                        <span class="name">Skills</span>
                        <hr class="star-light">
                        <span class="skills">Full Stack Javascript</span>
                    </div>
                    <i class="devicon-javascript-plain colored"></i>
                    <i class="devicon-ruby-plain-wordmark colored"></i>
                    <i class="devicon-jquery-plain-wordmark colored"></i>
                    <i class="devicon-nodejs-plain-wordmark colored"></i>
                    <i class="devicon-react-original-wordmark colored"></i>
                    <i class="devicon-angularjs-plain-wordmark colored"></i>
                    <i class="devicon-backbonejs-plain-wordmark colored"></i>
                    <i class="devicon-html5-plain-wordmark"></i>
                    <i class="devicon-css3-plain-wordmark colored"></i>
                    <i class="devicon-bootstrap-plain-wordmark colored"></i>
                    <i class="devicon-mongodb-plain-wordmark colored"></i>
                    <i class="devicon-mysql-plain-wordmark colored"></i>
                    <i class="devicon-git-plain-wordmark"></i>
                    <i class="devicon-heroku-line-wordmark colored"></i>
                    <i class="devicon-grunt-line-wordmark"></i>
                    <i class="devicon-gulp-plain colored"></i>
                    <i class="devicon-bower-plain-wordmark colored devicon"></i>
                </div>
            </div>
        </div>
    </header>
